.h5, h5 {
    font-size: 14px;

    margin-left: 10px;
}

.li:hover{
    background-color: #eeeeee;
}
.li{
    -webkit-tap-highlight-color:#eeeeee;
}

label {
    padding:5px;
}
label, input[type='checkbox'] {
    cursor: pointer;
}


.question {
}

.warning{
    color:red;
    font-weight:bold;
}